/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

.theme-dark
{
  --background-color: #000000;
  --accent-color: #00CC14;
  --heart-contour: #00CC14;
  --background-pattern: var(--background-pattern-dark);
  --inlay-shadow: var(--inlay-shadow-dark);
  --button-text-color: #00CC14;
}

@supports (font-variation-settings: normal)
{
  .theme-dark {
    --regular-font-weight: var(--regular-font-weight-dark);
    --bold-font-weight: var(--bold-font-weight-dark);
  }

  .page.theme-dark {
    font-variation-settings: 'wght' var(--regular-font-weight);
  }
}

.theme-light {
  --background-color: #FFFFFF;
  --accent-color: #000000;
  --heart-contour: #000000;
  --background-pattern: var(--background-pattern-light);
  --inlay-shadow: var(--inlay-shadow-light);
  --button-text-color: #FFFFFF;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFFFFF;
    --accent-color: #000000;
    --heart-contour: #000000;
    --background-pattern: var(--background-pattern-light);
    --inlay-shadow: var(--inlay-shadow-light);
    --button-text-color: #FFFFFF;
  }
}
