/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root
{
  --base-font-family: 'Inter';
  --heading-font-family: 'Press Start 2P';
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --regular-font-weight-dark: 465;
  --bold-font-weight-dark: 785;
}

@supports (font-variation-settings: normal)
{
  :root
  {
    --base-font-family: 'Inter-Variable';
  }
}
